<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mappers.MemberMapper">
    <select id="list" resultType="members.Member">
        SELECT * FROM MEMBER
    </select>
    <insert id="insert">
        <selectKey keyProperty="USER_NO" order="BEFORE" resultType="long">
            SELECT SEQ_MEMBER.NEXTVAL FROM DUAL
        </selectKey>

        INSERT INTO MEMBER (USER_NO, USER_ID, USER_NM, USER_PW)
            VALUES (#{USER_NO}, #{USER_ID}, #{USER_NM}, #{USER_PW})
    </insert>
    <select id="getLists" resultType="members.Member">
        SELECT * FROM MEMBER
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="userNm != null">
                <bind name="PuserNm" value="'%' + _parameter + '%'" />
                USER_NM LIKE #{PuserNm}
            </if>


        </trim>
    </select>
</mapper>