<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
        <script th:src="@{/js/common.js}"></script>
    </head>
    <body>
        <header th:replace="~{outlines/header::common}"></header>

        <main layout:fragment="content"></main>

        <footer th:replace="~{outlines/footer::common}"></footer>
    </body>
</html>