<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>회원가입</title>
    </head>
    <body>
        <h1>회원가입</h1>
        <form method="post" autocomplete="off" th:object="${requestJoin}">
            <dl>
                <dt th:text="#{이메일}">이메일</dt>
                <dd>
                    <input type="text" name="email" th:field="*{email}">
                </dd>
            </dl>
            <dl>
                <dt>비밀번호</dt>
                <dd>
                    <input type="password" name="password" th:field="*{password}">
                </dd>
            </dl>
            <dl>
                <dt>비밀번호확인</dt>
                <dd>
                    <input type="password" name="confirmPassword" th:field="*{confirmPassword}">
                </dd>
            </dl>
            <dl>
                <dt>회원명</dt>
                <dd>
                    <input type="text" name="userName" th:field="*{userName}">
                </dd>
            </dl>
            <div>
                <input type="checkbox" name="agree" value="true" id="agree">
                <label for="agree">회원가입 약관에 동의합니다.</label>
            </div>
            <button type="submit">가입하기</button>
        </form>
    </body>
</html>