<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <table border="1">
            <thead>
                <tr>
                    <th>이메일</th>
                    <th>회원명</th>
                    <th>가입일시</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${items}">
                    <td th:text="${item.email}"></td>
                    <td th:text="${item.userName}"></td>
                    <td th:text="${item.regDt}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>