<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <form method="post" th:action="@{/member/login}" autocomplete="off" th:object="${requestLogin}">
            <dl>
                <dt th:text="#{이메일}"></dt>
                <dd>
                    <input type="text" name="email" th:field="*{email}">
                    <div th:each="err : ${#fields.errors('email')}" th:text="${err}"></div>
                </dd>
            </dl>
            <dl>
                <dt th:text="#{비밀번호}"></dt>
                <dd>
                    <input type="password" name="password" th:field="*{password}">
                    <div th:each="err : ${#fields.errors('password')}" th:text="${err}"></div>
                </dd>
            </dl>
            <div>
                <input type="checkbox" name="saveEmail" value="true" id="saveEmail" th:field="*{saveEmail}">
                <label for="saveEmail" th:text="#{이메일_기억하기}"></label>
            </div>

            <!--
            <div th:each="err : ${#fields.errors('global')}" th:text="${err}"></div>
            -->
            <div th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>
            <button type="submit" th:text="#{로그인}"></button>
        </form>
    </body>
</html>